* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
#header {
    width: 100%;
    background-color:#000;
    color: #fff;
    top:0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}

/*Container*/
#container {
    display: flex;
}

/*User Actions*/
#user-actions{
    flex-grow: 1;
    margin-right: 0.5rem;
   /* flex: 20%;*/
}

/*Login Form*/
#login-form{
    padding: 0.5rem;
}

/*Content*/
#content{
    /*background-color: blue;*/
    flex-grow: 4;
    /*flex: 20%;*/
    margin-right: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.product{
    margin: 0.5rem;
    padding: 0.5rem;
}

/*Cart*/
#cart{
    
    flex-grow: 1;
     padding: 0.5rem;
   /* flex: 20%;*/

}
.cart-list-item{
    width: 100%;
    
}

/**/